<template>
	<div 
		class="home-view-component"
	>
		<h2>Liens vers les MARKDOWN</h2>
        <!-- <nav>
        <ul>
            <li>
                
                
                <router-link :to="'read/ByZnBSv4O'">
                    Support HTML
                </router-link>
            </li>
            
            <li>
                <router-link :to="'read/ByK5SBvV_'">
                    Support CSS
                </router-link>
            </li>
            
            <li>
                 <router-link :to="'read/HycpVHDNd'">
                    Support JS
                </router-link>
            </li>
        
            <li>
                <router-link :to="'read/rJx-CI_VF'">
                    Support ES6
                </router-link>
            </li>
        
            <li>
                <router-link :to="'read/HJramvuEF'">
                    Support TS
                </router-link>
            </li>
        
            <li>
                <router-link :to="'read/r1gvB-xAd'">
                    Support Vue
                </router-link>
            </li>
        </ul>
        </nav> -->
	</div>
</template>

<script>
	export default {
		name: 'HomeView',
		components: {  },

		data(){
			return {
			SingleView: undefined	
			}
		},

		methods:{
           
        },
		created(){
        },

		mounted(){ 
   
        }
	}
</script>
<style scoped>

</style>