<template>
	<div 
		class="single-view-component"
	>
		<p>single-view-component</p>
        
		<vue-marked v-if="markdownValue">{{markdownValue}}</vue-marked>
		
	</div>
</template>

<script>
	import VueMarked from 'vue-marked';
	
	export default {
		name: 'SingleView',
		components: {  VueMarked, },

		data(){
			return {
				singleId: this.$route.params.id,
				markdownValue: undefined,
			}
		},

		methods:{
            fetchData: function(){
                // Execution de readObjects du store
                this.$store.dispatch('readObject',  { id: this.singleId })
            }
        },
		
		created(){
          // subscribe au mutations du store
            this.$store.subscribe((mutations) => {
                // Vérification du type de mutations
                if( mutations.type === "MARKDOWNVALUE" ){ 
                    // MàJ des valeur de markdownValue grace au getters du store
                    this.markdownValue = this.$store.getters.markdownValue;
					console.log(this.markdownValue);
                } 
                
            })

		},
		
		mounted(){
			/* Ne pas oublier de monter la fonction pour quels soit visible */
			this.fetchData();	
		}
	}
</script>
<style scoped>

</style>