<template>
    <!-- Use v-if attribute for DOM condition -->
    <header 
        class="header-app-component"
    >
        
        <!-- Use @click attribute to bind event -->
        <h1
            @click="onClickTitle"
        >
            <router-link to="/">MARKDOWN</router-link>
        </h1>
        
        <nav>
        <ul>
            <li>
                <router-link :to="{ name: 'SingleView', params: { id: 'ByZnBSv4O' }}">Support HTML</router-link>
            </li>
            
            <li>
                <router-link :to="{ name: 'SingleView', params: { id: 'ByK5SBvV_' }}">Support CSS</router-link>
    
            </li>
            
            <li>
                 <router-link :to="{ name: 'SingleView', params: { id: 'HycpVHDNd' }}">Support JS</router-link>
            </li>
        
            <li>
                <router-link :to="{ name: 'SingleView', params: { id: 'rJx-CI_VF' }}">Support ES6</router-link>
            </li>
        
            <li>
                <router-link :to="{ name: 'SingleView', params: { id: 'HJramvuEF' }}">Support TS</router-link>
            </li>
        
            <li>
                <router-link :to="{ name: 'SingleView', params: { id: 'r1gvB-xAd' }}">Support Vue</router-link>
            </li>
        </ul>
        </nav>
    </header>
</template>

<script>
    export default {
        name: 'HeaderApp',
        
        // Used to bind value from parent component
        props: {
            title: {
                type: String,
                required: false,
                default: undefined,
            },
        },
        
        data(){
            return {
                // Create a collection
                navLinks: [
                    {
                        name: 'Home page',
                        path: '/'
                    }
                ]
            }
        },
        
        /* watch: {
            '$route' (to, from) {
                console.log(to, from)
                this.singleId = this.$route.params.id
                this.fetchData();
            }
        }, */

        methods:{
            // Create method to bind click event
            onClickTitle: function(){
                // The $emit property is used to create custom events
                this.$emit('User clicked on title');
            }
        },
        
        created(){},
        mounted(){}
    }
</script>