<template>
    <div id="app">
        <HeaderApp
            @clickTitle="onClickTitle"
        />
        
        <main>       
            <h1><router-link to="/">MARKDOWN</router-link></h1>
            <!-- Use router-view directive to display route views -->
            <router-view :key="$route.fullPath"/>
        </main>
    </div>
</template>

<script>
        import HeaderApp from "./components/HeaderApp";
        export default {
            name: 'App',
            components: {
                HeaderApp, 
            },
           
           data(){
                return{
        
                }
            },
            methods: {
                // Create method to bind data from child component
                onClickTitle: function(event){
                    console.log('From HeaderApp', event)
                },
            },
            created(){},
            mounted(){}
        }
</script>